[submodule "luaces"]
	path = src
	url = https://github.com/lunarmodules/luasec
[submodule "openssl"]
	path = externals/openssl
	url = https://github.com/qlua-project/external-openssl-win64
	branch = 3.5.0-dev
[submodule "lua"]
	path = externals/lua
	url = https://github.com/qlua-project/cmake-lua-win64
	branch = v5.4.1
